# Python virtual environment
.venv/
__pycache__/

# Node modules
node_modules/
.ui/.next/
ui/node_modules/

# Large binaries
*.so
*.node
*.pkl
*.pt
*.bin
*.joblib

# OS / IDE / cache
.DS_Store
*.log
*.tmp
*.swp
*.zip

